html, body, .wrap, .markdown, .markup { height: 100% }

.wrap {
  background: #000;
  overflow: hidden;
}

.markdown, .markup{
  background: #fff;
  width: 49.9%;
  outline: none;
  overflow: scroll;
  box-sizing: border-box;
  padding: 20px;
}

.markdown {
  float: left;
}

.markup {
  float: right;
}

.button {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  position: fixed;
  top: 2%;
  right: 1%;
}

.button:hover {
  background: #000;
}

.markup {
  font-family: "helvetica Neue", helvetica;
}

.markup h1 {
  margin-top: 0px;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #aaa;
  font-size: 2.25em;
}